.img-wrapper { 
    position: absolute;
    top: -96px; left: calc(50% - 90px);
    width: 180px; height: 180px; 
    box-sizing: border-box;
    border-radius: 50%; 
    border: 6px solid #5B92D9;
    background-color: #fff;
    /* background: linear-gradient(transparent, #fff 50%); */
    overflow: hidden;
    z-index: 5;
}

.img-wrapper img { 
    display: block;
    width: auto; height: auto; 
    max-width: 100%; max-height: 100%;
}

.me-name {
    color: #fff;
    text-align: center;
    font-size: 2.4em; font-weight: 300;
}


.page-header {
    position: relative;
    background-color: #fff;
    height: 108px;
}

.page-header:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #fff;
    opacity: 0.2;
    z-index: 1;
}

.page-header .content-wrapper {
    padding-top: 24px;
    display: flex; justify-content: center;
}

.thoughts {
    display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;
}

.thought {
    padding: 6px 12px; 
    font-size: 1.8em; font-weight: 100;
    color: #555;
    text-shadow: 0 0 1px #d5d5d5;
    margin-right: 6px;
    opacity: 0.5;
    border-radius: 6px;
    margin-bottom: 6px;
    text-transform: capitalize;
}

.page-profile {
    margin-bottom: 24px;
}

.page-profile-info {
    margin-top: 12px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1)); */
    border-radius: 4px;
    box-shadow: inset 0 1px 2px #222;
}
.info-icon {
    height: 24px; width: auto;
    margin-right: 6px;
}

.profile-address,
.profile-email,
.profile-calendar,
.profile-link {
    display: flex;
    align-items: center;
}

.profile-address-link, 
.profile-email-link, 
.profile-calendar-link {
    display: flex; align-items: center;
}

.link-text {
    display: flex;
    align-items: flex-end;
    /* border-bottom: 2px solid currentColor; */
}

.profile-link .link-text:after {
    content: "";
    margin-left: 6px;
    height: 18px;
    width: 18px;
    background: linear-gradient(to bottom, #2D568C 50%, #fff 49%);
    border-radius: 50%;
    transition: 0.5s;
}
    .profile-link:not(.pseudo-link):hover {
        font-weight: 500;
    }
    .profile-link:hover .link-text:after {
        transform: rotate(300deg) scale(1.1);
        background: linear-gradient(to bottom, #7cacff 50%, #fff 49%);
    }
    .profile-link .helper {
        font-size: 1.3rem;
    }

.social-links {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
}

    .social-link {
        height: 30px;
    }

    .social-link:not(:last-child) {
        margin-right: 12px;
    }

    .social-link a {
        display: block;
        height: 100%;
        width: 100%;
        background-color: #fff;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 2px 3px -1px rgba(15, 15, 15, 0.85);
    }

    .social-link img {
        height: 100%;
        width: auto;
    }

.page-profile-bio {
    line-height: 1.5;
}

.page-profile-bio__link {
    background-color: #fff;
    padding-left: 6px; padding-right: 6px;
    color: #111;
    mix-blend-mode: screen;
}


.calendar-link {
    display: block;
    margin: 0 auto; margin-top: 24px;
    padding: 6px 12px;
    width: 150px;
    font-size: 1.4em; font-weight: 500;
    text-align: center;
    color: #5B92D9;
    border-radius: 2px;
    text-decoration: none;
    background-color: #fff;
}

.page-body { 
    display: flex; flex-direction: row; justify-content: space-between;
    background: #5B92D9; 
}

.page-footer {
    padding-top: 60px;
    color: #fff;
    background-color: #5F4B8B;
    background-color: #292723;
}

.content-wrapper { position: relative; padding: 10px 5%; }

.nav { 
    padding-left: 15px; padding-bottom: 30px;
}

.page-body-section {
    position: relative;
    flex: 1 1;
    display: flex; flex-direction: column;
    padding: 60px 24px 12px;
    background-color: #f5f5f5;
}

.page-body-description {
    position: relative;
    color: #fff;
    padding-top: 60px;
}

.body-section {
    display: flex; flex-direction: column;
    margin-top: 24px;
}
    .body-section:not(:last-child) {
        margin-top: 24px;
    }

.section-title {
    margin-bottom: 12px;
    font-weight: 300; font-size: 2.6em;
    color: #555;
    text-transform: uppercase;
}

.section-content-header {
    display: flex; justify-content: space-between;
}

/* Project styling
----------------------------------------------------------------*/

.project-header {
    display: flex; flex-direction: column;
}

    .project-heading {
        display: flex;
    }

    .project-title {
        margin-top: 0; margin-bottom: 6px;
        color: #e87429;
        font-size: 1.8em;
        margin-bottom: 2px;
    }
        .project-title:hover {
            color: #FF5A21;
            text-decoration: underline;
        }

    .project-link-list {
        display: flex; justify-content: flex-end;
        margin-left: 6px;
    }
    
        .project-link-item {
            height: 24px;
            margin-right: 6px;
        }
    
        .project-link {
            display: block;
            height: 100%;
            width: 100%;
        }
    
        .project-link-img {
            height: 100%;
            width: auto;
        }

    .project-tags {
        display: flex; flex-wrap: wrap;
        margin-bottom: 6px;
    }
        .project-tag {
            margin-right: 6px;
            font-size: 1.3em; font-weight: 500;
            color: #555;
            text-transform: uppercase;
        }
            .project-tag:before {
                content: "#";
            }

.project-description {
    margin-top: 0;
    line-height: 1.5;
}




.featured-paper {
    display: flex; flex-direction: column;
    margin-top: 0; margin-bottom: 12px;
}

    .featured-paper-title {
        display: flex; flex-direction: column;
        margin-top: 0;
        color: #3573dd;
        font-size: 1.6em; font-weight: 500;
        margin-bottom: 4px;
    }
        .featured-paper-title:visited {
            color: #5F4B8B;
        }
        .featured-paper-title:hover {
            color: #2C5EB4;
            text-decoration: underline;
        }

    .featured-paper-journal {
        margin: 0;
        font-style: italic;
    }

    .publication-metadata {
        display: flex; justify-content: space-between;
        align-items: flex-start; align-content: flex-start;
    }

    .publication-info {
        margin: 0;
    }

    .publication-demo {
        position: relative;
        height: 36px;
        margin-right: 6px;
    }
        .publication-demo:before {
            content: "";
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background: #000;
            opacity: 0.5;
            transition: .2s;
            z-index: 1;
        }
        .publication-demo:after {
            content: "";
            position: absolute;
            top: 6px; right: 14px; bottom: 6px; left: 0;
            background: url(../images/logo-youtube.png) 100%/contain no-repeat;
            opacity: 0.6;
            transition: .2s;
            z-index: 2;
        }

    .publication-demo:hover:before {
        opacity: 0.4;
    }

    .publication-demo:hover:after {
        opacity: 0.8;
        transform: scale(1.1);
    }

        .publication-demo-img {
            width: auto;
            height: 100%;
        }

    .publication-authors {
        display: flex;
        margin-top: 6px;
    }
    .publication-author {
        padding: 2px 6px 3px;
        font-size: 1.4em; font-weight: 500;
        color: #222;
        margin-right: 3px;
        background-color: #e5e4e2;
    }
        .publication-author:hover {
            color: #fff;
            background-color: #292723;
        }

    .publication-links {
        display: flex;
        justify-content: flex-end;
    }

    .featured-paper-link {
        align-self: flex-end;
        display: flex; align-items: center; justify-content: center;
        margin-left: 6px;
        height: 36px;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        border-radius: 50%;
        color: #F24738;
    }

    .featured-paper-link img {
        display: block;
        height: 100%;
        width: auto;
    }

    .featured-paper-abstract {
        max-height: 120px;
        overflow-y: auto;
    }

.featured-paper-abstract-title {
    display: block;
    margin-bottom: 2px;
    font-size: 1.2em; font-weight: 500;
    color: #555;
}

.presentation {
    margin-bottom: 12px;
}

.presentation-title {
    display: flex; flex-direction: column;
    margin-top: 0;
    color: #3573dd;
    font-size: 1.6em; font-weight: 500;
    margin-bottom: 4px;
}

.presentation-event {
    margin: 0;
    font-weight: 500; font-style: italic;
    color: #555;
}

.presentation-abstract {
    margin-top: 3px;
    font-size: 1.3em;
    color: #555;
    /* font-style: italic; */
}

.teaching {
    display: flex; flex-direction: column;    
}

.teaching:not(:last-child) {
    margin-bottom: 24px;
}
.teaching-header {
    display: flex;
}

.teaching-icon {
    display: block;
    width: 96px;
    height: 100%;
    margin-right: 6px;
}

.teaching-logo {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    width: 96px; min-width: 96px;
    height: 96px; min-height: 96px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #2C5EB4;
    background-color: #2C5EB4;
    background-color: #3573dd;
    border-radius: 50%;
    margin-right: 6px;
}
    .teaching-logo-name {
        display: flex;
        font-family: 'Segoe UI Black', 'Arial Black', sans-serif;
        font-size: 2em; font-weight: bold;
    }
        .teaching-logo-code {
            color: #7cacff;
        }
        .teaching-logo-number {
            margin-left: 2px;
            color: #fff;
            letter-spacing: -1px;
        }

    .teaching-logo-type {
        font-size: 1.3em; font-weight: 800;
        color: #555; 
    }

.teaching-info {
    flex-grow: 2;
}

.teaching-title {
    margin: 0;
    font-size: 1.8em;
}

.teaching-subtitle {
    margin: 0;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 300;
}

.teaching-role {
    display: inline-flex; align-items: center; justify-content: center;
    margin-left: 3px;
    font-size: 1.1em; font-style: normal;
    color: #fff;
    font-weight: 500;
    border-radius: 50%;
}

.teaching-header p {
    margin: 0;
    font-size: 1.4em;
}

.teaching-sessions {
    display: flex; flex-wrap: wrap;
}

.teaching-session {
    padding: 4px 6px 5px;
    margin-right: 3px; margin-bottom: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 1.3em;
    background-color: #F24738;
}

.teaching-video-description {
    display: inline-block;
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 6px;
}

.teaching-links {
    display: flex;
    margin-top: 6px;
}

.teaching-link {
    position: relative;
    display: flex; flex-wrap: wrap; justify-content: space-between; 
    width: 240px;
    margin-right: 6px;
    color: #fff;
}
    .teaching-link:before {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: #000;
        opacity: 0.5;
        transition: .2s;
        z-index: 1;
    }
    .teaching-link:hover:before {
        opacity: 0.4;
    }
    .teaching-link:hover:after {
        opacity: 0.8;
        transform: scale(1.1);
    }
    .teaching-link:after {
        content: "";
        position: absolute;
        top: 24px; right: 60px; bottom: 24px; left: 0;
        background: url(../images/logo-youtube.png) 100%/contain no-repeat;
        opacity: 0.7;
        transition: .2s;
        z-index: 2;
    }

.teaching-link-preview-img {
    display: inline-block;
    width: 120px;
    height: auto;
}


.info-link {
    display: inline-block;
    color: #e87429;   
}
    .info-link:hover {
        color: #FF5A21;
        text-decoration: underline;
    }

.teaching-link__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 6px 6px;
    font-size: 1.3rem; font-weight: 500;
    border-radius: 2px;
    text-align: center; 
    border: 2px solid currentColor;
    box-sizing: border-box;
    background-color: #fff;
    text-transform: uppercase;
}

.teaching-link__link--video {
    color: #2C5EB4;
}

.teaching-link__link--plan {
    color: #5F4B8B;
}

.teaching-content {
    display: flex; flex-direction: column;
    margin-top: 12px;
    font-size: 1.4em;
    line-height: 1.5;
}

    .teaching-content__link {
        position: relative;
        align-self: flex-end;
        justify-self: flex-end;
        font-weight: 500;
        padding: 3px 6px;
        border-radius: 1px;
        color: #d200ad;
        z-index: 1;
        overflow: hidden;
    }

    .teaching-content__link:before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: #fff;
        border-bottom: 3px solid #d200ad;
        z-index: -2;
    }
    .teaching-content__link:after {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        transform: translateY(100%);
        opacity: 0;
        background-color: #d200ad;
        transition: .2s;
        z-index: -1;
    }
    .teaching-content__link:hover {
        color: #fff;
    }
        .teaching-content__link:hover:after {
            transform: translateY(0);
            opacity: 1;
        }


.tutoring {
    display: flex; flex-direction: column;
    margin-bottom: 12px;
}

.tutoring-title {
    font-size: 1.6em;
    margin-top: 0; margin-bottom: 6px;
}

.tutoring-courses {
    display: flex;
}

    .tutoring-course {
        padding: 3px 6px;
        background-color: #292723;
        color: #fff; font-weight: 500;
        border-radius: 1px;
        margin-right: 3px;
    }

    .tutoring-link {
        align-self: flex-end; 
        display: inline-flex;
        align-items: center;
        padding: 6px 12px;
        font-size: 1.4em; font-weight: 500;
        color: #fff;
        border-radius: 180px;
        background-color: #3573dd;
    }

    .tutoring-link .link-icon {
        height: 24px;
    }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 20em) {
    .teaching-title {
        max-width: calc(100% - 18px);
    }

    .page-header {
        overflow: hidden;
    }

    .page-body {
        flex-direction: column;
    }
    
    .page-body-description {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .img-wrapper {
        top: -84px; left: calc(50% - 60px);
        width: 120px; height: 120px; 
    }

    .page-profile {
        margin-bottom: 24px;
    }
    
        .page-profile-info {
            margin-top: 0;
            padding: 12px;
            background-color: rgba(0, 0, 0, 0.1);
            /* background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1)); */
            border-radius: 4px;
            box-shadow: none;
        }

    .page-body-section {
        padding-top: 12px;
        padding-left: 3vw;
        padding-right: 3vw;
    }
        .page-body-section:not(:last-child) {
            margin-bottom: 24px;
        }

    .body-section:not(:first-child) {
        padding-top: 24px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 18px;
    }

    .page-footer {
        padding-top: 24px;
        text-align: center;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 40em) {
    .page-body {
        flex-direction: column;
    }

    .page-body-description {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .page-profile-info {
        margin-top: 12px;
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.1);
        /* background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1)); */
        border-radius: 4px;
        box-shadow: inset 0 1px 2px #222;
    }

    .page-body-section {
        padding-top: 12px;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .img-wrapper {
        top: -96px; left: calc(50% - 75px);
        width: 150px; height: 150px; 
    }

    .page-footer {
        padding-top: 40px;
    }
} 


@media only screen and (min-width: 55em) {
    .page-body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .page-body-description {
        flex-grow: 1;
        width: 40%; max-width: 380px;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    
    .page-body-section {
        padding-top: 60px;
    }
    .page-body-section:not(:last-child) {
        margin-bottom: 0;
    }

    .page-body-section--work {
        flex-grow: 3;
    }

    .page-body-section--teaching {
        flex-grow: 1;
        min-width: 100%;
        background-color: #5F4B8B;
        background-color: #2D568C;
        color: #fff;
    }

    .page-body-section--teaching .project-tag {
        color: #f5f5f5;
    }

    .section-title {
        text-align: left;
        margin-bottom: 12px;
    }

    .page-body-section--teaching .section-title {
        color: #f5f5f5;
    }

    .page-footer {
        padding-top: 48px;
    }
} 

@media only screen and (min-width: 78em) {
    .page-body {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .page-body-description {
        order: 2;
        padding-top: 80px;
        padding-left: 3vw; padding-right: 3vw;
        max-width: 480px;
    }

    .img-wrapper {
        top: -96px; left: calc(50% - 90px);
        width: 180px; height: 180px;
    }

    .page-body-section--work {
        order: 1;
        flex-grow: 2;
        padding-left: 4vw; padding-right: 2vw;
    }

    .page-body-section--teaching {
        order: 3;
        flex-grow: 2;
        min-width: auto;
        background-color: #f5f5f5;
        color: #222;
        padding-right: 4vw; padding-left: 2vw;
    }

    .page-body-section--teaching .project-tag {
        color: unset;
    }


    .page-body-section--teaching .section-title {
        color: #555;
    }
}